* {
    margin: 0;
    padding: 0;
}

img { max-height: 175px; }

body {
    padding: 12px 6px;
    font-size: 22px;
}

.left { text-align: left !important; }

/* DEBUG: Border for glyph tables. */
/* table, td { outline: 1px solid rgba(0,0,0,.3); } */

#input:hover td[tabindex] { outline: 1px dotted rgba(0, 0, 255, 0.5); }
:focus                    { outline: 4px solid  rgba(0, 0, 255, 0.5) !important; }

.FIXME {
    /* background: red; */
}

#input { margin: 13px -4px; }
#status {
    padding: 13px 13px;
    margin: 13px 0;
    border: 1px inset #eee;
    background: #eee;
}

.big { font-size: 75px; }

table[border="1"] td { border: none; }
table[border="1"] {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: 3px;
    margin: 0 3px;
}

/* tables in buttons */
button, select, input {
    font-size: inherit;
    margin: 3px;
    padding: 6px 13px;
}
button table .big { font-size: 75px; }
button table {
    display: block;
    border-collapse: collapse;
    line-height: .9;
    font-family: serif;
}

/******************************************************************************/
#input table { border-collapse: collapse; }
#input td    { background-size: 100px 100px; }

#input td.ar { position: relative; top: -2px; }

#input td.av,
#input td.text,
#input td.artion_low  { vertical-align: bottom; }
#input td.ar,
#input td.i,
#input td.top,
#input td.artion_high,
#input td.artion_tall { vertical-align: top;    }

/* SVGs aligned to top should be pushed slightly downwards. */
#input td.i           img,
#input td.top         img,
#input td.artion_high img,
#input td.artion_tall img { padding-top: 8px; }

/* SVGs aligned to bottom should be pushed 10px upwards. */
#input td.low     { vertical-align: bottom !important; }
#input td.low img {
    padding-bottom: 8px;
    padding-top: 0px !important;
}

#input td.h img                          { padding: 0px 4px; }
#input td img[src="pic/x-separator.svg"] { padding: 0px 6px; }

/* width */
#input td.artion_high               { width: 46px; }
button.ui                           { width: 100px;   }
select#load-input, input#save-input { width: 250px;   }
#input td                           { width: auto;    }

#input td img {
    display: block;
    margin: 0 auto;
}
#input td.artion_low {
    vertical-align: bottom;
    height: 38px;
}

/* height */
/* high, mid, low, text, full = Input table row position. */
#input td.high        { height: 15px; }
#input td.text        { height: 70px; }
#input td.full        { height: 85px; }

/******************************************************************************/

table { position: relative; }
table caption.controls {
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;

    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
table:hover caption.controls { display: block; }
#input table:hover,
#input table td:hover,
#overlay table tr:hover,
table caption.controls             { background: rgba(0, 0, 0, .2); }
table caption.controls span        { border: 3px solid transparent; }
table caption.controls span:hover  { background: rgba(100, 100, 100, .5); }
table caption.controls span:active { background: rgba( 50,  50,  50, .5); }
table caption.controls span[disabled] { background: inherit; color: rgba(0, 0, 0, .2) }

/******************************************************************************/

#overlay table { border-collapse: collapse; }
#overlay table td {
    border: 1px solid black;
    text-align: center;
    height: 70px;
    vertical-align: bottom;
}
#overlay table td + td { vertical-align: middle; }

#overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10;
    right: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    text-align: center;
    min-height: 100%;
}

#overlay table {
    display: inline-block;
    background: white;
}
#overlay table td {
    padding: 4px;
    border: none;
}

#overlay table    { border:     1px solid black; }
#overlay table td { border-top: 1px solid black; }

#overlay table td + td img {
    height: 100%;
    display: block;
    margin: auto;
}

/*[eof]*/
