* {
    margin: 0;
    padding: 0;
}

body { padding: .5em .25em; }

:focus {
    outline: 2px solid rgba(0, 0, 255, .25);
}

div {
    margin: .5em -.15em;
}

table, table td { border: 0px solid rgba(0,0,0,.1); }
table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: .125em;
    margin: 0 .125em;
}

div#input table td { height: 1.4em; }
div#input table td {
    background-size: 4em 4em;
    height: 2.8em;
    width: 2em;
    background-position: left -.075em top -1.25em;
}
div#input table td.r { height: 1.4em; background-position: left .124em top 0; }

table { position: relative; }
table caption.controls {
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;

    border: 1px solid rgba(200, 200, 200, .5);
    border-radius: .1em;
    color: rgba(0, 0, 0, .5);

    font-weight: bold;
}
table:hover caption.controls { display: block; }
table caption.controls             { background: rgba(200, 200, 200, .5); }
table caption.controls span        { border: .125em solid transparent; }
table caption.controls span:hover  { background: rgba(100, 100, 100, .5); }
table caption.controls span:active { background: rgba( 50,  50,  50, .5); }
table caption.controls span[disabled] { background: inherit; color: rgba(0, 0, 0, .2) }

/*[eof]*/
