* {
    margin: 0;
    padding: 0;
}

img { max-height: 7em; }

body { padding: .5em .25em; }

/* DEBUG: Border for glyph tables. */
/* table, td { outline: 1px solid rgba(0,0,0,.3); } */

:focus {
    outline: 3px solid rgba(0, 0, 255, 0.5);
}

.FIXME {
    background: red;
}

#input { margin: .5em -.15em; }
#status {
    padding: .5em .5em;
    margin: .5em 0;
    border: 1px inset #eee;
    background: #eee;
}

.big { font-size: 3em; }

table[border="1"] td { border: none; }
table[border="1"] {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: .125em;
    margin: 0 .125em;
}

/* tables in buttons */
button {
    margin: .125em;
    padding: .25em .5em;
}
button table .big { font-size: 3em; }
button table {
    display: block;
    border-collapse: collapse;
    line-height: .9;
    font-family: serif;
}

/******************************************************************************/
#input table { border-collapse: collapse; }
#input td    { background-size: 4em 4em; }

/* background position */
#input td.r  { background-position: left  .2em top  -.8em;  }
#input td.a,
#input td.h  { background-position: left -.01em top -1.25em; }
#input td.ar { background-position: left -.1em   top -1.1em;  }
#input td.av { background-position: left -.1em   top -2.7em;  }
#input td.artion_tall { background-position: left -.1em   top -.77em;  }
#input td.artion_sep { background-position: left -.1em   top -.9em;  }
#input td.artion_high { background-position: left -.15em   top -.9em;  }
#input td.artion_low  { background-position: left -.15em   top -2.55em;  }
#input td.i  { background-position: left -.15em   top -.95em;  }

/* width & height */
#input td[colspan],
#input td.r  { height: .6em; } /* always above H or A, no width needed */
#input td.artion_sep  { height: 2.8em; width: .75em;   }
#input td.artion_high,
#input td.artion_low,
#input td.i  { height: 1.4em; width: 1.85em; }
#input td.av,
#input td.ar { height: 1.4em; width: 1.4em; }
#input td.artion_tall,
#input td.a,
#input td.h  { height: 2.8em; width: 2em;   }

/******************************************************************************/

table { position: relative; }
table caption.controls {
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;

    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
table:hover caption.controls { display: block; }
#input table:hover,
table caption.controls             { background: rgba(200, 200, 200, .5); }
table caption.controls span        { border: .125em solid transparent; }
table caption.controls span:hover  { background: rgba(100, 100, 100, .5); }
table caption.controls span:active { background: rgba( 50,  50,  50, .5); }
table caption.controls span[disabled] { background: inherit; color: rgba(0, 0, 0, .2) }

/*[eof]*/
